@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Light.otf?f5e955efb2bef154ac6dd150903f2d45) format("opentype");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(/fonts/Montserrat-Bold.otf?5a6aef823dd8d1b22aacd78aebb653d6) format("opentype");
}

#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}

#contact {
  font-size: 11px;
}

#contact div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#menus {
  font-size: 11px;
  padding: 30px 0px 30px 0px;
}

#banner {
  padding: 20px 0px 20px 0px;
}

.topnav {
  display: none;
}

.banner-image {
  height: 250px;
  width: 400px;
}

.border-bottom {
  border: medium;
  border-style: solid;
  border-width: 0.5px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-color: #ecf0f1;
}

.border-bottom-2 {
  border: medium;
  border-style: solid;
  border-width: 0.1px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-color: #222f3e;
  padding-bottom: 20px;
}

.border {
  border: medium;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ecf0f1;
}

.border-blue {
  border: medium;
  border-style: solid;
  border-width: 0.5px;
  border-color: #3498db;
  border-radius: 4px;
}

.slice-border {
  border: medium;
  border-style: solid;
  border-width: 2px;
  border-color: #ecf0f1;
  width: 100px;
}

.flex {
  -webkit-box-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 6;
          flex: 6;
}

.left {
  text-align: left;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row-sp {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.flex-column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.mb-20 {
  margin-bottom: 20px;
}

.mh-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mh-2 {
  margin-right: 2px;
  margin-left: 2px;
}

.mh-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.container {
  padding: 5px 150px 5px 150px;
}

.btn-menu {
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.image-container {
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

.image-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.font-bold {
  font-family: "Montserrat-Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-26 {
  font-size: 26px;
}

.font-12 {
  font-size: 12px;
}

.font-10 {
  font-size: 10px;
}

.font-info {
  font-weight: 100;
}

.promo-table {
  padding: 5px 10px 5px 10px;
  width: 200px;
}

.best {
  background-color: #3498db;
  color: #ffffff;
}

.best-2 {
  background-color: #2980b9;
  color: #ffffff;
}

.feature-php {
  padding: 5px 10px 5px 10px;
  width: 300px;
}

.packet {
  width: 320px;
}

.packet img {
  height: 50px;
  margin-bottom: 10px;
}

.module {
  width: 250px;
  padding-left: 50px;
}

.others {
  width: 250px;
}

.others-2 {
  width: 320px;
}

.btn-blue-rounded {
  background-color: #3498db;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  border-radius: 20px;
}

.btn-white-outline-rounded {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  color: #3f3f3f;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: #3f3f3f;
  border: solid;
}

.btn-blue-outline-rounded {
  background-color: #3498db;
  padding: 10px 10px 10px 10px;
  color: #ffff;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: #ffffff;
  border: solid;
}

#likes {
  background-color: #ecf0f1;
  min-height: 7vh;
}

#likes div {
  min-height: 7vh;
  -webkit-box-align: center;
          align-items: center;
}

#help {
  background-color: #3498db;
  min-height: 14vh;
  color: #ffffff;
}

#help div {
  min-height: 14vh;
  -webkit-box-align: center;
          align-items: center;
}

#others {
  background-color: #2f3640;
  min-height: 50vh;
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  font-size: 12px;
}

.input-email {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  border-radius: 20px;
}

.email {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2px;
}

input {
  outline: none;
}

button {
  outline: none;
}

.btn-social-media {
  background-color: #2f3640;
  border-radius: 100px;
  border-color: #ffffff;
  color: #ffffff;
  border: solid;
  border-width: 2px;
  margin: 0px 20px 0px 20px;
  height: 28px;
  width: 28px;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon-green {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -25px;
  top: 18px;
  width: 120px;
  background-color: #27ae60;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before,
.ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}

@media only screen and (max-width: 1260px) {
  #contact {
    display: none;
  }

  #menus {
    display: none;
  }

  #banner {
    margin-top: 25px;
  }

  #laravel {
    text-align: center;
  }

  #navbar {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 10px;
    position: relative;
  }

  .module {
    width: 150px;
    padding-left: 0px;
  }

  .btn-social-media {
    margin: 0px 5px 0px 5px;
  }

  .font-26 {
    font-size: 18px;
  }

  .btn-live {
    margin: 5px 0px 5px 0px;
    align-content: center;
  }

  .topnav {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .topnav .close {
    display: none;
  }

  .topnav .open {
    display: block;
  }

  .topnav a {
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
  }

  .topnav a.icon {
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
  }

  .active {
    height: 40px;
    padding-left: 10px;
  }
}

